<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Card Shop : Store</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="/static/javascript/app.js"></script>
        <script src="/static/javascript/magicApiService.js"></script>
        <script src="/static/javascript/viewCardController.js"></script>
        <script src="/static/javascript/storeSearchController.js"></script>
    </head>
    <body>

        <div style="width: 100%; background: blue;">
            <h2>Header</h2>
        </div>

        <div ng-app="card-store">
            <div ng-view></div>
        </div>

        <div style="width: 100%; background: blue;">
            <p>Footer</p>
        </div>

    </body>
</html>