<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Card Shop : Store</title>

        <link href="/static/styles/search.css" rel="stylesheet"/>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="/static/javascript/app.js"></script>
        <script src="/static/javascript/magicApiService.js"></script>
        <script src="/static/javascript/viewCardController.js"></script>
        <script src="/static/javascript/storeSearchController.js"></script>
    </head>
    <body>

        <div id="store-header">
            <h2>Header</h2>
        </div>

        <div ng-app="card-store" id="store-body">
            <div ng-view style="display: inline;"></div>
            <div style="display: inline;" id="store-display"></div>
        </div>


        <!--
        <div id="store-footer">
            <p>Footer</p>
        </div>
        -->
    </body>
</html>