

<div ng-controller="storeSearchController">

    <div id="search-container" >
        <label>Name:</label>
        <input type="text" data-search="name" />

        <label>Set:</label>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="setDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>

            <div class="dropdown-menu" aria-labelledby="setDropdown">
                <p style="cursor: pointer;" ng-repeat="set in magicSets">
                    <div ng-click="selectSet" style="cursor: pointer; display: inline-block;">{{ set.name }}</div><div style="display: inline:block; color: red; float: right;" >{{ set.releaseDate }}</div>
                </p>
            </div>
        </div>

        <input type="text" data-search="set" />

        <label>Colors:</label>
        <input type="text" data-search="colors" />

        <label>Converted Mana Cost:</label>
        <input type="text" data-search="cmc" />

        <label>Rarity:</label>
        <input type="text" data-search="rarity" />

        <label>Type:</label>
        <input type="text" data-search="type" />

        <label>Subtype:</label>
        <input type="text" data-search="subtypes" />

        <label>Text:</label>
        <input type="text" data-search="text" />

        <input type="hidden" data-search="pageSize" value="20"/>

        <input type="button" value="Search" ng-click="searchCards()"/>
    </div>



    <div id="search-results" >
        <div ng-repeat="card in cards" class="row">

            <div class="col-md-4">
                <img ng-src="{{ card.imageUrl }}" />
            </div>

            <div class="col-md-8">
                <h4>{{ card.name }}</h4>
                <p>{{ card.manaCost }}</p>
                <p>{{ card.text }}</p>
            </div>
        </div>

    </div>

</div>




