#search-container{

}

#search-container label{
    display: block;
    margin-top: 1.25em;

}

#search-container input{
    display: block;
    margin-top: .1em;
    padding-left: 5px;
    border: 3px solid #e7e7e7;
    width: 100%;

}

#search-container input[type=button]{
    display: block;
    background: #449922;
    width: 50%;
    margin-top: 20px;
    padding: 7px 3px;

}







