body{
    font-family: 'Lucida Console', Verdana, sans-serif;
}

#store-body{
    width: 50%;
    margin-left: 25%;
}

#search-container{

}

#search-container label{
    display: block;
    margin-top: 1.25em;

}

#search-container input{
    display: block;
    margin-top: .1em;
    padding-left: 5px;
    border: 3px solid #e7e7e7;
    width: 100%;

}

#search-container input[type=button]{
    display: block;
    background: #449922;
    width: 50%;
    margin-top: 20px;
    padding: 7px 3px;

}

#store-header{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    background: #9529a2;
}

#store-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    background: #9529a2;
}

#store-body{
    margin-top: 85px;
}






